header{
	display: flex;
	flex-direction: row;
	background-color: black;
	height: auto;
	vertical-align: middle;
	padding: 10px;
}
/*.car{
	height: 500px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}*/
.card-body{
	background: grey;
}
.card{
	margin-top: 10px;
}
.news{
	margin: 15px;
	padding: 15px;
	border: 5px solid grey;
	/*min-width: 750px;*/
	/*margin-left: 5px;*/
}
.data{
	background: lightgrey; padding: 3px;
}
.info{
	border-bottom: 1px solid grey;
}
.nav-link:hover{
	background: lightgrey;
}
